.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

.alert-danger a {
  color: #a94442;
}

.alert-danger pre {
    color: inherit;
    background-color: inherit;
    border: none;
}
.table-striped>tbody>tr:nth-of-type(odd),
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.alert.info p {
  font-size: 1em;
}

.table td, .table th {
   text-align: center;   
}

.table td pre, .table td code {
    text-align: left;
    font-size: 0.7em;
}

.table a.disabled {
    opacity: 0.5;
}

.progress-bar {
    transition: width .5s linear;
}

.progress {
    border: 1px solid green;
    border-radius: 0;
}

#main-cont {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

#result-summary .result-ok {
  color: #FFF;
  background: #009800;
  padding: 2px;
  border-radius: 2px;
}

#result-summary .result-error {
  color: #FFF;
  background: #CE0000;
  padding: 2px;
  border-radius: 2px;
}

.highlight label{ 
  font-weight: bold;
  color: #398439;
}

.highlight {
    border: 3px solid rgba(64, 149, 64, 0.73);
    background: #dff0d8;
    border-radius: 4px;
    padding: 10px;
}

input[type=checkbox] {
    margin: 2px 0 0;
}

.bigger-checkbox {
    height: 16px;
    width: 16px;
}

textarea.form-control {
    font-family: Consolas, "Courier new";
    font-size: 0.75em;
}

.jumbotron {
  padding-top: 0;
}

.nowrap {	
	white-space: nowrap;
}


dl {
  margin-bottom: 0;
}

.panel-default {
  margin-top: 15px;
}


.navbar-nav>li>a {
  line-height: 13px;
}

.navbar-nav>li>a small {
  font-style: italic;
  opacity: 0.75;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}
